body{
	color: black;
    background: url(http://i.jootix.com/r/Ash-Ketchum-ash-ketchum-pokemon-1280x800.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
h1{
	text-align: left;
}
.wrapper{
	
	text-align: left;
	width: 60%;
	overflow: hidden; 
	height: 100%;

}
.myPoke{
	float: left;
	text-align: left;
	padding: 10px;
	width: 45%;

}
.enemyPoke{
	float: left;
	width: 45%;
	padding: 10px;
	overflow: hidden;


}
.battleWrapper{

	min-width: 50%;

}
.winPic{

	max-width: 200px;
	width: 200px;
}

.statsList{

  list-style-type:none;

}

.pokemon_pic{

	width: 100px;
	height: 100px;
}
#txtHint{
	max-width: 20%;
	text-align: left;
	max-height: 100px;
	overflow: scroll;

}
.list{

	list-style-type:none;
	text-align: left;
	max-width: 40%;
	
     margin-left: auto;
	margin-right: auto;


}
#title{
	text-align: left;
	font-size:x-large;
	
	
}
.form{
     font-size:medium;
      text-align: left;

}


#picture{
   text-align: center;
      margin-left: auto;
	margin-right: auto;
	width:20%;
	 max-width: 20%;

}

